/*Configuración global de CSS sitio web*/
/*Selector universal*/
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
}

/*Selector por etiqueta*/
header{
    background: #23376D;
    text-align: center;
    color: white;
    padding: 10px;
}

footer{
    background: #23376D;
    text-align: center;
    color: white;
    line-height: 40px;
    bottom: 0px;
    position: fixed;
    width: 100%;
}
a{
    text-decoration: none;
    font-size: 18px;
    color: #7D0a42;
}
footer a{
    color: aliceblue;
}
/*Selector por Id*/
#contenido{
    border: 2px solid #23376D;
    padding: 50px;
    
}

#principal{
    display: block;
    margin: auto;
}
#descripcion{
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
    margin: 15px;

}
#menu{
    background-color: #eee;
}

#menu ul li{
    display: block;
    float: left;
    border-right: 2px solid #23376D;

}
#menu ul li a{
    display: block;
    padding: 15px;
    color: rgb(90, 72, 72);

}

#menu ul li:hover{
    background: rgb(16,75,143);
    cursor: pointer;
}
#menu ul li:hover a{
    color: white;
}

#contenido table{
    margin: auto;
}

#contenido h2{
    text-align: center;
    color: cornflowerblue;
    margin: 10px;
}

#contenido form{
    border: 3px solid blue;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
}
#contenido form * {
    display: inline-block;
}

input[type = "text"], select{
    margin-bottom: 15px;
    padding: 10px;
    width: 300px;
}
input[type ="submit"], button{
    background: #7D0a42;
    color: white;
    padding: 15px;
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid black;
    cursor: pointer;

}

.formulario{
    width: 100%;
    justify-content: center;
    margin: 0px auto;
    flex-direction: column;
    max-width: 600px;
    
}
.formulario .input-field{
    margin-bottom: 15px;
    margin-top: 15px;
    display: flex;
    align-items: center;
}
.formulario .input-field label{
    width: 200px;

}
/*

#email{
    margin-bottom: 15px;
    width: 300px;
    padding: 10px;
}
*/

/*Selector por clase*/
.clearFix{
    float: none;
    clear: both;
}

